:root {
  --main-font-color: #333333;
  --titles-font-color: #bdbdbd;
  --btn-bcg-color: #f2f2f2;
  --transition-duration: 250ms;
  --countBox-font-color: #e0e0e0;
  --about-greyBox-bcg-color: #fbfbfb;
  --about-border-color: rgba(207, 111, 2, 0.841);
  --font-display: "SF Pro Display", sans-serif;
  --input-bcg-color: #f3f3f3;
  --input-text-color: #8d8d8d;
  --redStar-color: #c30000;
  --footer-bcg-color: #2c2c2c;
  --copyWrightText-color: #c8c8c880;
}
